%h1 Navigation bar

.lead It is at the top.

%h2 Source code:
%ul.list-group
  %li.list-group-item
    = link_to "_navigation.html.haml", oss_url("app/views/layouts/_navigation.html.haml")
  %li.list-group-item
    = link_to "navbar.scss", oss_url("app/assets/stylesheets/navbar.scss")
  %li.list-group-item
    = link_to "application.js", oss_url("app/assets/javascripts/application.js")
