// File: app/assets/stylesheets/custom.scss
@import "bootstrap";
@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 1.5rem;
  }
}

@mixin border1 {
  border: 1px solid rgba(86, 61, 124, .2);
}

.row>.col,
.row>[class^=col-] {
  @include border1;
}

h1 {
  padding-top: 2em;
}

h2 {
  padding-top: 1em;
}
